nav {
  /*position: absolute;*/
  /* width: 550px;*/

  display: flex;
  align-items: center;
  /*padding: 30px 25px;*/
  height: 50px;
  color: #FFFFFF;

  margin-bottom: 30px;

  background: #F55A5A;
}

nav>h2 {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.075em;
}

nav>img {


  width: 24px;
  height: 24px;
  margin-left: 20px;
  margin-right: 2px;
}

.card {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;


}

.card--left {
  height: 168px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 2px;
  width: 350px;
  padding: 0px;
}

.card--map {
  width: 10px;
  height: 14px;
  padding: auto;
}

.place--name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  letter-spacing: 0.17em;
  padding: 2px;
  margin-top: 0px;
}

.map--text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  padding-left: 5px;
  text-decoration-line: underline;

  color: #918E9B;
}

.card--image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
  margin-left: 20px;
}

.location {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  padding: 0px;
  color: #2B283A;
  margin-top: 10px;
  margin-bottom: 20px;

}

p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #918E9B;
}

.date {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  margin-bottom: 10px;
  color: #2B283A;
}

.discription {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */
  text-align: justify;

  color: #2B283A;
}